{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block content %}
<div style="width: 400px;" class="container mt-5 shadow p-3 mb-5 rounded text-white border border-info">
    <h2 class="dsubhead fs-4 mt-3 mb-0 text-center pb-5">Login:</h2>
    <form class="" action="" method="POST" class="main-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="form-control btn btn-dark" type="submit" name="Submit">Login</button>
    </form>
</div>
{% endblock content %}