{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}

<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Welcome to ZorinDESK</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Our powerful ticket filtering system makes sure the right tickets goes to the right
                department leaving you with a clutter-free environment.</p>
        </div>
    </div>
</div>

{% endblock content %}